:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --font3: "FontAwesome", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "ProximaNova", sans-serif;
  --font6: "Asap Condensed", sans-serif;
}
body {
  font-family: var(--font-family);
  font-weight: 400;
  background: #fff;
  min-width: 100%vh;
  display: flex;
  flex-direction: column;
  color: #22343d;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 0 20px;
}
input,
textarea,
button {
  font-family: inherit;
}
/* #region Top Line */
.header {
  padding: 19px 0;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.navigation .menu {
  display: none;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}
.navigation .sign {
  display: none;
  align-items: center;
  gap: 21px;
}
.navigation .logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}
.navigation .menu-link {
  padding: 19px 0;
  font-size: 16px;
  line-height: 175%;
  color: #22343d;
}
.menu .first-link {
  font-weight: 600;
}
.header .menu-link:hover,
header .menu-link:focus {
  color: #4d8dff;
}
.header .sign .button-in {
  display: block;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}
.header .sign .button-in:hover {
  background-color: #81e9a9;
}
.header .sign .button-up {
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 113px;
  height: 42px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.header .sign .button-up:hover {
  background-color: #026f62;
}
/* #endregion Top Line */

/* #region Hero */
.hero {
  padding: 30px 0 50px 0;
}

.hero .container-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero .lest-said {
  margin-top: 11px;
}
.hero .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 167%;
  color: #22343d;
  text-align: center;
  margin-bottom: 18px;
}
.hero .description {
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 156%;
  color: #22343d;
  text-align: center;
  margin-bottom: 45px;
}
.hero .button-get {
  display: block;
  padding: 15px 41.7px 14px 41.7px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  border: none;
  min-width: 178px;
  height: 53px;
  cursor: pointer;
  background: #02897a;
}
.hero .button-get:hover {
  background-color: #01584e;
}
.hero .link {
  display: flex;
  align-items: center;
  gap: 8.66px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero .link:hover {
  color: #01584e;
}
/* #endregion Hero */

/* #region Product */
.product {
  padding-top: 50px;
  padding-bottom: 25px;
}
.product-title {
  display: block;
  max-width: 530px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}
.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}
.product-icon {
  margin: 0 auto;
}
.product-list .item {
  width: 240px;
}
.product-list .title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 18.11px;
  margin-bottom: 13px;
  text-align: center;
}
.product .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #22343d;
}
.product-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  background-color: #02897a;
  min-width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-button:hover {
  background-color: #016156;
}
/* #endregion Product */

/* #region Management */
.management {
  padding: 50px 0;
}
.management-left {
  margin-top: 50px;
}
.management-title {
  font-size: 16px;
  margin-bottom: 8px;
}
.management-title2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.management-description {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 30px;
}
.management-makers {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 12px;
}
.management-makers-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 25px;
}
.management-alterationists {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 12px;
}
.management-alterationists-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
}
/* #endregion Management */

/* #region Customer Support */
.support {
  padding: 50px 0;
}

.support-img {
  margin-bottom: 50px;
}
.support-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.support-title2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.support-title-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 30px;
}
.descr-list-item {
  display: flex;
  align-items: center;
}
.descr-list-item .descr-text {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-left: 30px;
}
.descr-list-item:not(:last-child) {
  margin-bottom: 25px;
}
/* #endregion Customer Support */

/* #region Collaborative */
.collaboration {
  padding: 50px 0 70px 0;
}
.collaboration-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 8px;
}
.collaboration-title2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.collaboration-description {
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 16px;
}
.collaboration-makers {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 12px;
}
.collaboration-makers-descr {
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 16px;
}
.collaboration-alt {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 12px;
}
.collaboration-alt-descr {
  font-size: 16px;
  line-height: 162%;
}
/* #endregion Collaborative */

/* #region Quick & Easy Process */
.process {
  padding: 70px 0 50px 0;
}
.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 8px;
}
.process-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: cenr;
  margin-bottom: 40px;
}
.process-person-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process-ability-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 24px;
  width: 240px;
  height: 70px;
  border-radius: 21px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
.process-person-ability {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.process-wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.process-button {
  display: block;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 53px;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.process-button:hover,
.process-button:focus {
  background-color: #01584e;
}
/* #endregion Quick & Easy Process */

/* #region Contents Strategies */

.strategies {
  padding: 50px 30px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}
.strategies-decr {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  margin-bottom: 40px;
}
.strategies-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.strategies-item {
  padding-bottom: 40px;
}

.strategies-item img {
  border-radius: 8px 8px 0 0;
}
.strategies .photo-descr {
  font-size: 16px;
  line-height: 175%;
  margin-bottom: 12px;
  margin-top: 24px;
}
.strategies .photo-name {
  font-weight: 700;
}
.strategies .photo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  color: #22343d;
}
.strategies-item:hover .photo-title {
  color: #02897a;
}
/* #endregion Contents Strategies */
