:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --font3: "FontAwesome", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "ProximaNova", sans-serif;
  --font6: "Asap Condensed", sans-serif;
}
body {
  font-family: var(--font-family);
  font-weight: 400;
  background: #fff;
  min-width: 100%vh;
  display: flex;
  flex-direction: column;
  color: #22343d;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* #region Top Line */
.header {
  padding: 19px 0;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .menu {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}
.navigation .sign {
  display: flex;
  align-items: center;
  gap: 21px;
}
.navigation .logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;

  /* line-height: 28px; */
  line-height: 93%;
  color: #173a56;
}
.navigation .menu-link {
  padding: 19px 0;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 175%;
  color: #22343d;
}
.menu .first-link {
  font-weight: 600;
}
.header .menu-link:hover,
header .menu-link:focus {
  color: #4d8dff;
}
.header .sign .button-in {
  display: block;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}
.header .sign .button-in:hover {
  background-color: #81e9a9;
}
.header .sign .button-up {
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 113px;
  height: 42px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}
.header .sign .button-up:hover {
  background-color: #026f62;
}
/* #endregion Top Line */

/* #region Hero */
.hero {
  padding: 25px 0 50px 0;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero .container-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero .lest-said {
  padding: 112px 0;
  margin-right: 35px;
}
.hero .title {
  font-weight: 700;
  font-size: 40px;
  /* line-height: 60px; */
  line-height: 150%;
  color: #22343d;
  margin-bottom: 18px;
}
.hero .description {
  font-size: 18px;
  /* line-height: 28px; */
  line-height: 156%;
  color: #22343d;
  margin-bottom: 45px;
}
.hero .button-get {
  display: block;
  padding: 15px 41.7px 14px 41.7px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  border: none;
  min-width: 178px;
  height: 53px;
  background: #02897a;
}
.hero .button-get:hover {
  background-color: #01584e;
}
.hero .link {
  display: flex;
  align-items: center;
  gap: 8.66px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero .link:hover {
  color: #01584e;
}
/* #endregion Hero */

/* #region Product */
.product {
  padding-top: 50px;
  padding-bottom: 25px;
}
.product-title {
  display: block;
  max-width: 530px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}
.product-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 72px;
}
.product-list .item {
  max-width: calc((100% - 90px) / 4);
}
.product-list .title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 18.11px;
  margin-bottom: 13px;
}

.product-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  background-color: #02897a;
  min-width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.product-button:hover {
  background-color: #016156;
}
/* #endregion Product */

/* #region Management */
.management {
  padding: 25px 0 50px 0;
}
.management-container {
  display: flex;
  align-items: center;
}
.management-left {
  margin-right: 84px;
}
.management-title {
  font-size: 16px;
  margin-bottom: 8px;
}
.management-title2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.management-description {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 30px;
}
.management-makers {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 12px;
}
.management-makers-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 25px;
}
.management-alterationists {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 12px;
}
.management-alterationists-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
}
/* #endregion Management */

/* #region Customer Support */
.support {
  padding: 50px 0;
}
.support-container {
  display: flex;
  align-items: center;
}
.support-img {
  margin-right: 84px;
}
.support-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}
.support-title2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}
.support-title-descr {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-bottom: 30px;
}
.descr-list-item {
  display: flex;
  align-items: center;
}
.descr-list-item .descr-text {
  font-size: 16px;
  /* line-height: 26px; */
  line-height: 162%;
  margin-left: 30px;
}
.descr-list-item:not(:last-child) {
  margin-bottom: 25px;
}
/* #endregion Customer Support */
